<div class="container">
  <div class="row align-items-center home">
    <div class="col text-center">
      <h3>Gerencie seus pedidos de vendas</h3>
      <h4>Rápido, fácil e objetivo</h4>
      <button type="button" class="btn btn-primary">Create Clients</button>
    </div>
  </div>
</div>
